In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score,mean_squared_error,accuracy_score

In [3]:
data = pd.read_csv("Advertising.csv",index_col = 0)
data.describe()

               TV       radio   newspaper       sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

In [4]:
X = data.drop(["sales"],axis = 1)
y = data["sales"]

In [5]:
xtrain,xtest,ytrain,ytest = train_test_split(X,y,test_size = 0.2,random_state = 25)

In [6]:
lr = LinearRegression()

In [7]:
lr.fit(xtrain,ytrain)
print("The intercept of the Linear Regression model is ",lr.intercept_)
print("The coefficient of the var of the eq are ",lr.coef_)
print("The score of the model is ",lr.score(xtrain,ytrain))

The intercept of the Linear Regression model is  3.1873524943833313
The coefficient of the var of the eq are  [ 0.04597936  0.18530829 -0.00522954]
The score of the model is  0.9007883778149751

In [8]:
ypred = lr.predict(xtest)

In [9]:
print("Y-Predicted",ypred)
print("Y-test",ytest)

Y-Predicted [12.3402608  14.07319423 10.24139656 18.62083195 23.0146653  10.48986907
 21.14846855 16.46529459 17.26886591 21.22095393 14.40889358 19.14130606
 14.92056838 17.83047122 13.84988859 20.09877666  6.77102512 18.19008393
 15.46536067 14.7799973  13.93489238 15.121444   14.11901217 21.87393942
  3.72992911 15.1366567  11.78638346  9.91585527 17.31261312 19.52911589
 21.10923097 24.76201831 11.4009263  10.66285002 14.92503103 10.86501665
  8.92720123 17.81766808 14.10712318 18.22320253]
Y-test 149    10.9
136    11.6
83     11.3
194    19.6
102    23.8
127     6.6
70     22.3
41     16.6
36     12.8
112    21.8
121    15.5
69     18.9
104    14.7
103    14.8
123    11.6
177    20.2
118     9.4
170    15.0
98     15.5
82     12.3
78     14.2
27     15.0
44     12.9
59     23.8
109     5.3
86     15.2
7      11.8
150    10.1
42     17.1
29     18.9
94     22.2
176    27.0
32     11.9
95     11.5
22     12.5
167     8.0
79      5.3
106    19.2
113    14.1
154    19.0
Name: sales, dtype: float64